/* mein */
body {
  color: var(--main-color);
  background-color: var(--main-white-color);
  font-family: var(--primary-font);
  font-size: var(--primary-text-size);
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* button */
.button {
  font-family: inherit;
  background-color: #f5f4fa;
  color: var(--main-color);
  font-size: var(--secondary-text-size);
  font-weight: 500;
  line-height: 1.62 px;
  text-align: center;
  cursor: pointer;
}
.button:hover,
.button:focus {
  color: var(--main-white-color);
  background-color: var(--color-accent);
}
.title-list {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.products .title {
  color: var(--paragraph-color);
  line-height: 1.88;
}
