/* Body */
body {
  color: var(--main-color);
  background-color: var(--main-white-color);
  font-family: var(--primary-font);
  font-size: var(--primary-text-size);
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* Hero */
.hero {
  background-color: #2f303a;
}

.hero-title {
  color: var(--main-white-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Features */
.title {
  line-height: 1.1;
  text-transform: uppercase;
}
.clientes .title {
  color: var(--main-color);
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
}
.clients .p {
  color: var(--paragraph-color);
  line-height: 1.7;
}

/* section */
.section-title {
  color: var(--main-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
/* Our team */
.team {
  background-color: #f5f4fa;
}
.section .worker-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.section .profesion {
  color: var(--paragraph-color);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

/* button */
.button {
  font-family: inherit;
  color: var(--main-white-color);
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.button:hover .button:focus {
  background-color: #188ce8;
}
